<div class="container">
  <mat-card class="card">
    <app-loading></app-loading>
    <mat-tab-group class="tab-group">
      <mat-tab label="Redefinir senha">
        <form (ngSubmit)="resetPasswordForm()" [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Cadastre uma nova senha</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Insira uma senha fictícia"
            />
            <mat-icon matSuffix color="primary">keygen</mat-icon>
            <mat-error *ngIf="form.get('password')?.hasError('required')">
              Senha é obrigatória
            </mat-error>
            <mat-error
              *ngIf="
                form.get('password')?.hasError('passwordsDoNotMatch') &&
                form.get('password')?.touched &&
                form.get('confirmPassword')?.touched
              "
            >
              As senhas não coincidem.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirme a nova senha</mat-label>
            <input
              type="password"
              matInput
              formControlName="confirmPassword"
              placeholder="Confirme a senha"
            />
            <mat-icon matSuffix color="primary">keygen</mat-icon>
            <mat-error
              *ngIf="form.get('confirmPassword')?.hasError('required')"
            >
              Senha é obrigatória
            </mat-error>
            <mat-error
              *ngIf="
                form.get('password')?.hasError('passwordsDoNotMatch') &&
                form.get('password')?.touched &&
                form.get('confirmPassword')?.touched
              "
            >
              As senhas não coincidem.
            </mat-error>
            <mat-error
              *ngIf="form.errors?.['passwordsDoNotMatch'] && form.get('password')?.touched && form.get('confirmPassword')?.touched"
            >
              As senhas não coincidem.
            </mat-error>
          </mat-form-field>
          <div class="button-submit">
            <button mat-raised-button color="primary">Redefinir</button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
